.main{
  margin-top: 10px;
  transition: transform 2s;
}
.Nevigator{
  display: flex;
  flex-direction: row;

}
button{
  margin-left: auto;
  background-color: purple;
  padding: 20px;
  height: 40px;
  margin-right: 20px;
}

.Nevigator-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
 transition: transform 2s ease-out;
}
ul{
  text-decoration: none;
  padding: 10px;
  
}
li{
  padding: 10px;
  color: white;
  font-weight: bold;
  background: greenyellow;
  margin: 4px;
}
.active{
  background-color: limegreen;
  color: white;
  width: 50px;
}